body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: white;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0absolute;
  width: 100%;
  z-index: 10;
  transition: background-color 0.5s ease;
}

.header.active {
  background-color: rgba(0, 0, 0, 0.8); 
  position: fixed; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.fondo1 {
  background-image: url(../img/home-flexo-new-slider.jpg);
}

.nav1 {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: white;
}

.logo .flex {
  color: #006deb;
}

.logo .offices {
  color: white;
}

.nav1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav1 ul li {
  margin-left: 20px;
}

.nav1 ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.contact-button {
  background-color: #006deb;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.hero-content h1 {
  font-size: 48px;
}

.hero-content p {
  font-size: 24px;
  margin: 10px 0;
  font-family: 'Work Sans',sans-serif;
}

.location-section {
  background-color: #f4f4f4;
  padding: 50px 0;
  position: relative;
  z-index: 2;
  text-align: center;
}

.location-section h2 {
  font-family: Poppins,sans-serif;
  text-align: left;
  padding-left: 40px;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 80px;
  line-height: 1.2;
}

.location-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 100%;
  margin: auto;
  max-height: 400px;
  

}

.location-card img {
  width: 50%;
  object-fit: cover;
  height: 450px;

}

.location-info {
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.location-info h3 {
  color: #000000;
  text-align: left;
  font-size: 40px;
  margin-left: 50px;

}

.location-info p {
  text-align: left;
  max-width: 380px;
  margin-left: 50px;
  font-family: 'Work Sans',sans-serif;

}

.location-info span{
  color: #006deb;
}

.contact-button {
  align-self: flex-start;
  margin-top: 10px;
}

.conoce-mas{
  border-radius: 20px;
  background-color: #fff;
  color: #1e1e1e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #006deb;
  text-decoration: none ;
  margin-left: -200px;
}

.cuadros{

  margin-top: -100px;
  width: 65%;
  display: inline-block;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.cuadrosVerticales {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
}


.cuadro1 {
  width: 500px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 5px;
}


.cuadro1 img {
  width: 100%;
  border-radius: 5px; 
}

.contenido h3 {
  margin-left: 20px;
  font-family: Poppins,sans-serif;
  font-weight: 600;
  font-size: 30px;
  height: auto;
}

.contenido a{
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 25px;
}

.contenido p{
  margin-left: 20px;
  font-family: 'Work Sans',sans-serif;
}

.contenido span{
  color: #006deb;
}

.contenido {
  padding: 25px;
  text-align: left; 
  background-color: white;
  border-radius: 5px;
}

.boton {
  background-color: #fff;
  color: #1e1e1e;
  border: 1px solid #006deb;
  padding: 10px 25px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  position: relative;
  top: 20px;
}

.spaces-section{
  background-color: white;
  width: 100%;
}

.spaces-section {
  display: flex; 
  justify-content: center;
  /* margin: 20px; */
}

.fondoverde{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 80%;
  width: 80%;
  display: flex;
  background-color: #eaf5f5;
  border-radius: 10px;
}

.history-block {
  width: 50%; 
  margin: 10px;
  border-radius: 8px; 
  display: flex;
  position: relative;

}

.planes{
  background-color: white;
  display: flex;
  justify-content: center;
}
.planesdiv{
  display: inline-block;
  text-align: center;
  background-color: white;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.planesdiv h2{
  text-align: center;
}


.history-block hr{
  width: 90%;
  text-decoration: none;
  
}

.history-block img {
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.history-content h3{
  max-width: 350px;
  text-align: left;
  font-family: Poppins,sans-serif;
  font-size: 32px;
  margin-top: 0;
  word-wrap: initial;
  margin-top: 200px;
  margin-left: 15px;

}
.history-content p{
  text-align: left;
  font-family: 'Work Sans',sans-serif;
  margin-left: 15px;
  width: 350px;
}


.history-content2 h3{
  text-align: right;
  font-family: Poppins,sans-serif;
  font-size: 32px;
  margin-top: 0;
  word-wrap: initial;
  margin-top: 200px;
  margin-right: 15px;

}


.history-content2 p{
  text-align: right;
  font-family: 'Work Sans',sans-serif;
  margin-right: 15px;


}


.aboutus{
  background-color: white;
}

.aboutus h2{ 
    display: inline-block;
    background-color: white;
    text-align: center;
    width: 100%;
  
}

iframe{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.textous{
  display: flex;
  align-items: center;
  justify-content: center;
}

.textous p{
  font-family: 'Work Sans',sans-serif;
}


.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}


.plan h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-right: 25px;
}
.plan .price {
  font-size: 28px;
  color: #007BFF;
  margin: 10px 0;
}
.plan ul {
  list-style: none;
  padding: 0;
  flex-grow: 1; 
}

.plan ul li {
  border-top: 1px solid #eee;
  padding: 10px;
  color: #666;
}

.plan button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  margin-top: auto; 
}
.plan button:hover {
  background: #0056b3;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 300px;
}
.footer .logo {
  font-size: 20px;
  font-weight: bold;
}
.footer .logo .flex {
  color: #007BFF; 
}
.footer .logo .offices {
  color: #ccc; 
}
.social a {
  color: white;
  margin: 0 10px;
  font-size: 24px; 
}
.social a:hover {
  color: #007BFF;
}
.copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.contact{
  display: flex;
  justify-content: center;
}

.contact img{
  width: 100%;
  max-width: 600px;
  height: 780px;
  margin-top: 50px;
}

.contactanos {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
  margin: 50px;
  
}

.contactanos h2 {
  color: #333;
  font-size: 24px;
}

.contactanos form {
  display: flex;
  flex-direction: column;
}

.contactanos label {
  margin-bottom: 5px;
  color: #666;
}

.contactanos input[type="text"],
.contactanos input[type="email"],
.contactanos input[type="tel"],
.contactanos select,
.contactanos textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactanos button {
  background-color: #ff4b6e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

.loading {
  background-color: #cccccc;
  cursor: not-allowed;
}
.loading::after {
  content: ' ...';
  animation: loading 1s infinite;
}
@keyframes loading {
  0% { content: ' ...'; }
  33% { content: ' ..'; }
  67% { content: ' .'; }
  100% { content: ' ...'; }
}
